<p>
    <strong>Olá Guilherme olveira</strong>
    ag: 999, co: 9999-9
</p>

<p>
    Poupança: <span id="get-poupanca">{{getPoupanca | currency : 'BRL'}}</span>
    <input type="text" id='input-sacar' #sacar placeholder="sacar">
    <button id='sacar' (click)="sacarValor(sacar.value)">Sacar</button>
</p>

<p>
    Carteira: <span>{{getCarteira | currency : 'BRL'}}</span>

    <input type="text" id='input-depositar' #depositar placeholder="Depositar">
    <button id="depositar" (click)="DepositarValor(depositar.value)">Depositar</button>
</p>

<app-list></app-list>